* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body {
  text-align: center;
  background-color: #698269;
}
h1 {
  margin: 100px auto 50px;
  color: #261700;
  font-weight: bolder;
  font-size: 40px;
}
#list {
  width: 70%;
  border: 2px solid #572a2a;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}
h2,p,#input{
    font-family: "Mynerve";
}

.list-item {
  width: 350px;
  height: 40px;
  border: solid 2px #705d40;
  list-style-type: none;
  margin: 5px auto;
  border-radius: 5px;
  background-color: #b99b6be9;
  /* display: flex; */
  font-weight: bold;
  color: #281a04d7;
  display: none;
}
.fa.fa-remove {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 11%;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.599);
  border-radius: 50%;
}
.fa.fa-remove:hover {
  background-color: rgba(51, 51, 51, 0.165);
}
p {
  font-size: 18px;
  padding: 0 10px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 89%;
}

label {
  display: block;
  color: #261700;
  margin: 30px auto 10px;
  font-size: larger;
}
#input {
  width: 240px;
  height: 18px;
  border: 2px solid #644722b5;
  background-color: #f1dbbf93;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #281a04d7;
}
